.richstep{
    padding: 10rem 0 4rem 5.7vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    &__description{
        width: 100%;
        .bighead{
            span.little{
                font-style: italic;
                font-family: Light;
                font-weight: 100;
                letter-spacing: -7px;
                padding-right: 1rem;
            }
        }
        &__texts{
            font-size: 2.9rem;
            letter-spacing: -.6px;
            color: $color-deep-blue;
            padding: 2.4rem 0 4rem 0;
            padding-right: 10vw;
        }
    }
    &__steps{
        width: 100%;
        padding-left: 3vw;
        position: relative;
        .stepsvg{
            overflow:hidden ;
            svg{
                z-index: 3;
                width: 110%;
                object-fit: cover;
                height: 110vh;
                margin-right: -6rem;
            }
        }  
        &__eachstep{
            position: absolute;
            z-index: 4;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            .step1, .step2, .step3{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                font-size: 4rem;
                display: flex;
                .stepdesc{
                    width: 19vw;
                    background-color: white;
                    padding: 1.5rem 2.3rem 2.3rem;
                    border-radius: 1.2rem;
                    border: 1px solid rgba(8,37,82,.07);
                    box-shadow: 1px 3px 4px rgba(8,37,82,0.04);
                    .heading{
                        font-weight: 600;
                        font-size: 1.82rem;
                        letter-spacing: -1px;
                        color: $color-deep-blue;
                    }
                    .texts{
                        line-height: 1.4;
                        font-size: 1.24rem;
                        color: $color-neutral;
                        margin-top: .8rem;
                        font-family: Light;
                        font-weight: 600;
                    }
                }
                span{
                    display: block;
                    background-color: white;
                    width: 3.8rem;
                    height: 3.8rem;
                    font-size: 1.5rem;
                    font-weight: 900;
                    color: $color-deep-blue;
                    display: grid;
                    place-content: center;
                    border-radius: 50%;
                    margin-left: 1.6rem;
                }
            }
            .step1{
                top: 60vh;
                left: 0;
                margin-left: -10vw;
            }
            .step2{
                top: 32vh;
                left: 3vw;
            }
            .step3{
                left: 18vw;
                top: 10vh;
            }
        }
    }
}

@media screen and (max-width:940px) {
    .richstep{
        grid-template-columns: 1fr;
        .bighead{
            font-size: 7.8rem;
            line-height: 9rem
        }
        &__steps{
            .stepsvg{
                svg{
                    height: 80vh;
                }
            }
            &__eachstep{
                display: none;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .richstep{
        padding: 10rem 0 2rem 4vw;
        &__description{
            .bighead{
                font-size: 4.4rem;
                letter-spacing: -1px;
                line-height: 4.5rem;
                span.little{
                    letter-spacing: -3px;
                    font-size: 4.5rem
                }
            }
            &__texts{
                font-size: 2.5rem;
                padding-right: 0;
                font-family: Medium;
                font-weight: 500;
            }
            .btn{
                font-family: Medium;
                font-weight: 500;
            }
        }
        &__steps{
            width: 100%;
            padding-right: 4vw;
            margin: 0;
            svg{
                height: 43vh;
                width: 100%;
                object-fit: cover;
                margin: 0;
            }
        }
    }
}